<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <header class="page-header">
      <h1 class="header-title">Rails練習用</h1>
        <div class="login-button">
          <% if current_user.present? %>
            <span class="btn btn-primary"><%= current_user.name %></span>
            <%= link_to "ログアウト", logout_path, class: "login-link" %>
          <% else %>
            <%= link_to "ログイン", new_login_path, class: "login-link" %>
          <% end %> 
        </div>
    </header>
    <%= render 'layouts/sidebar' %>
    <div class="content"> 
      <%= yield %>
    </div>
  </body>
</html>
